body {
    text-align: center;
    background-color: #fafafa;
    margin: 0;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, Sans-serif；
}

.logo {
    position: fixed;
    top: 20px;
    left: 30px;
    height: 40px;
}

#imgBox {
    width: auto;
    height: 300px;
    margin: 40px auto;
}

#img {
    width: auto;
    height: 100%;
    border-radius: 20px;
}

#searchBox {
    text-align: center;
    margin: 20px auto;
}

input {
    font-size: 16px;
    width: 640px;
    height: 44px;
    border: none;
    padding: 0;
    border-radius: 30px;
    outline: none;
    vertical-align: middle;
    line-height: 50px;
    text-indent: 30px;
    color: #000000;
    border: 1px solid #e6e6e6!important;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
}

::-webkit-input-placeholder {
    color: #999;
}

/*input:focus {
       border-color:#20a0ff;
}*/
/*.search-btn {
    width: 120px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    color: #8590a6;
    background-color: #f2f2f2;
    border-radius: 0 24px 24px 0;
    font-size: 16px;
    line-height: 16px;
}

.search-btn:hover {
    background-color: #ededed;
}*/
#siteBox {
    width: 800px;
    margin: 40px auto 0 auto;
    padding: 20px 0 0 0;
    background-color: #ffffff;
    border-radius: 40px;
}

#siteBox ul {
    margin: 0 auto;
    overflow: hidden;
    padding-inline-start: 80px;
}

#siteBox li {
    list-style: none;
    width: 180px;
    height: 60px;
    float: left;
    margin: 0 auto 20px auto;
}

#siteBox li a {
    text-decoration: none;
    color: #000000;
    line-height: 60px;
    float: left;
}

#siteBox li a:hover {
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    box-shadow: 0 2px 18px -4px rgba(0,0,0,.1);
    margin-left: -22px;
    margin-right: -22px;
    margin-top: -1px;
    padding-left: 21px;
    padding-right: 21px;
    z-index: 2;
}

#siteBox li a .text {
    padding-left: 6px;
    vertical-align: middle;
}

#siteBox li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.class {
    border-style: none;
}

textarea {
    position: fixed;
    top: 0;
    right: 0;
    resize: none;
    width: 296px;
    height: 44px;
    border: none;
}

iframe {
    position: fixed;
    top: 44px;
    right: 0;
    width: 300px;
    height: 1000px;
    border: none;
}

@media screen and (max-device-width: 1500px) {
    #imgBox {
        width: auto;
        height: 250px;
        margin: 20px auto;
    }

    #img {
        width: auto;
        height: 100%;
        border-radius: 20px;
    }

    #siteBox {
        width: 800px;
        margin: 30px auto 0 auto;
        padding: 20px 0 0 0;
        background-color: #ffffff;
        border-radius: 40px;
    }

    textarea {
        position: fixed;
        top: 0;
        right: 0;
        resize: none;
        width: 256px;
        height: 44px;
        border: none;
    }

    iframe {
        position: fixed;
        top: 44px;
        right: 0;
        width: 260px;
        height: 1000px;
        border: none;
    }
}