body {
    text-align: center;
    background-color: #fafafa;
    margin: 0;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, Sans-serif；
}

#imgBox {
    width: auto;
    height: 300px;
}

#img {
    width: auto;
    height: 100%;
    border-radius: 20px;
    margin: 40px auto;
}

#searchBox {
    text-align: center;
    margin: 80px auto 0 auto;
}

input {
    font-size: 16px;
    width: 800px;
    height: 44px;
    border: none;
    padding: 0;
    border-radius: 24px;
    outline: none;
    vertical-align: middle;
    line-height: 44px;
    text-indent: 32px;
    color: #000000;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
}

/*input:focus {
       border-color:#20a0ff;
}*/
/*.search-btn {
    width: 120px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    color: #8590a6;
    background-color: #f2f2f2;
    border-radius: 0 24px 24px 0;
    font-size: 16px;
    line-height: 16px;
}

.search-btn:hover {
    background-color: #ededed;
}*/
#siteBox {
    width: 800px;
    margin: 20px auto 0 auto;
    padding: 20px 0 0 0;
    background-color: #ffffff;
    border-radius: 20px;
}

#siteBox ul {
    margin: 0 auto;
    overflow: hidden;
    padding-inline-start: 80px;
}

#siteBox li {
    list-style: none;
    width: 180px;
    height: 56px;
    float: left;
    margin: 0 auto 20px auto;
}

#siteBox li a {
    text-decoration: none;
    color: #000000;
    line-height: 56px;
    float: left;
}

#siteBox li a:hover {
    box-shadow: 0 1px 8px #ddd;
    /*color: #8590a6;*/
}

#siteBox li a .text {
    padding-left: 6px;
    vertical-align: middle;
}

#siteBox li img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.class {
    border-style: none;
}

textarea {
    position: fixed;
    top: 0;
    right: 0;
    resize: none;
    width: 296px;
    height: 64px;
    border: none;
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, Sans-serif；
}

iframe {
    position: fixed;
    top: 64px;
    right: 0;
    width: 300px;
    height: 1000px;
    border: none;
}