:root {
    --text-color: #fff;
    --bg-color: rgba(0, 0, 0, 0.9);
    --font-family: SF Pro SC, SF Pro Text, SF Pro Icons, PingFang SC, Helvetica Neue, Arial, sans-serif;
    text-autospace: normal;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #000 center/cover;
    font: 20px var(--font-family);
    text-align: center;
    user-select: none;
}

.reminder {
    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--text-color);
    text-decoration: none;
}

.sites {
    position: absolute;
    inset: 0 0 1% 0;
    width: 960px;
    height: 600px;
    margin: auto;
    background-color: var(--bg-color);
    border-radius: 96px;
}

.sites.hidden {
    opacity: 0;
    pointer-events: none;
}

button {
    width: 120px;
    margin-top: 64px;
    font: 32px var(--font-family);
    color: #666;
    background: none;
    border: 0;
    outline: none;
}

.current {
    color: var(--text-color);
}

.con {
    margin-top: 28px;
    display: none;
}

.sites ul {
    padding-inline-start: 88px; overflow: hidden;
}

.sites li {
    float: left;
    width: 164px;
    height: 80px;
    list-style: none;
}

.sites li a {
    float: left;
    line-height: 72px;
    color: var(--text-color);
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.sites li a .text {
    display: inline-block;
    width: 96px;
    padding-left: 12px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    mask-image: linear-gradient(to right, #000 96%, transparent);
}

.sites li a:hover {
    padding: 0 20px;
    margin: 0 -20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    transform: scale(1.08);
}

.sites li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}